<nav class="navbar navbar-dark bg-primary p-3">
    <a href="/" class="navbar-brand">Ponto e Vírgula</a>

    <ul class="navbar-nav d-flex flex-row gap-3">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles">Artigos</a>
        </li>
    </ul>
</nav>