<%- include ('partials/header.ejs') %>

    <body>
        <%- include('partials/navbarHome.ejs') %>
        <div class="container">
            <h1>Oii pág 1</h1>
        </div>
    </body>


<%- include ('partials/footer.ejs') %>